Source: gokien-default-settings
Section: gnome
Priority: optional
Maintainer: Trung Ngo <ndtrung4419@gmail.com>
Build-Depends: debhelper (>= 8.1.3~)
Standards-Version: 3.9.2

Package: gokien-default-settings
Architecture: all
Depends: ${misc:Depends}, dmz-cursor-theme
Recommends: pantheon-terminal, noise, plank-theme-pantheon
Replaces: midori, midori-gtk3, midori-granite, libgtk-3-0
Enhances: midori, midori-gtk3, midori-granite, plank
Breaks: elementary-default-settings
Description: gokien default settings
 This package contains various system defaults for Gokien.
 Installing this package won't affect existing users on your system.
